
#y-1 {
	position: absolute;
	left: 0px;
	top: 300px;
	transform: scale(.5) rotate(-55deg);
}

#v-1 {
	position: absolute;
	left: -75px;
	top: 410px;
	transform: scale(.5) rotate(-55deg);
}

#s-1 {
	position: absolute;
	left: 110px;
	top: 145px;
	transform: scale(.5) rotate(-55deg);
}

#t-1 {
	position: absolute;
	left: 195px;
	top: 35px;
	transform: scale(.5) rotate(-55deg);
}

#a-1 {
	position: absolute;
	left: 272px;
	top: -92px;
	transform: scale(.5) rotate(-55deg);
}

#v-2 {
	position: absolute;
	left: 393px;
	top: -255px;
	transform: scale(.5) rotate(-55deg);
}

#k-1 {
	position: absolute;
	left: 465px;
	top: -360px;
	transform: scale(.5) rotate(-55deg);
}


/*#a-3 {

}
*/


#m-1 {
	position: absolute;
	left: 200px;
	top: 1550px;
	transform: scale(1) rotate(-55deg);
}

#o-1 {
	position: absolute;
	left: 400px;
	top: 1250px;
	transform: scale(1) rotate(-55deg);
}

#d-1 {
	position: absolute;
	left: 620px;
	top: 945px;
	transform: scale(1) rotate(-55deg);
}

#e-1 {
	position: absolute;
	left: 852px;
	top: 615px;
	transform: scale(1) rotate(-55deg);
}

#r-1 {
	position: absolute;
	left: 1045px;
	top: 335px;
	transform: scale(1) rotate(-55deg);
}

#n-1 {
	position: absolute;
	left: 1175px;
	top: 155px;
	transform: scale(1) rotate(-55deg);
}

#o-2 {
	position: absolute;
	left: 1345px;
	top: -120px;
	transform: scale(1) rotate(-55deg);
}

#h-1 {
	position: absolute;
	left: 1570px;
	top: -455px;
	transform: scale(1) rotate(-55deg);
}

/*#o-3 {

}*/




#m-2 {
	position: absolute;
	left: 500px;
	top: 3200px;
	transform: scale(1.5) rotate(-55deg);
}

#y-2 {
	position: absolute;
	left: 902px;
	top: 2623px;
	transform: scale(1.5) rotate(-55deg);
}

#s-2 {
	position: absolute;
	left: 1200px;
	top: 2170px;
	transform: scale(1.5) rotate(-55deg);
}

#t-2 {
	position: absolute;
	left: 1430px;
	top: 1825px;
	transform: scale(1.5) rotate(-55deg);
}

#e-2 {
	position: absolute;
	left: 1795px;
	top: 1280px;
	transform: scale(1.5) rotate(-55deg);
}



















											/*#a-1 {
												position: absolute;
												left: 250px;
												transform: scale(75%) rotate(-45deg);
											}

											.letter-6 {
												position: absolute;
												left: 55px;
												top: 208px;
												transform: scale(75%) rotate(-45deg);
											}

											#b-1 {
												position: absolute;
												left: 480px;
												top: -210px;
												transform: scale(75%) rotate(-45deg);
											}
											#a-2 {
												position: absolute;
												left: -150px;
												top: 408px;
												transform: scale(75%) rotate(-45deg);
											}

											#a-3 {
												position: absolute;
												left: 579px;
												top: -321px;
												transform: scale(75%) rotate(-45deg);
											}

											#b-2 {
												position: absolute;
												left: -247px;
												top:  517px;
												transform: scale(75%) rotate(-45deg);
											}*/