/*
.container {
	position: relative;
	width: 100vw;
	overflow-x: hidden;
}



*/

.sizing {
	width: 100%px;
	max-width: 500px;
	margin: auto;
	height: 6500px;
}

@media (max-width: 1000px) {
	.description {
		transform: rotate(0);
	}
}


.description {
	position: absolute;
	left: 1150px;
	top: 300px;
	max-width: 250px;
	transform: scale(2) rotate(34deg);
	text-align: left;
	border-left: 2px solid red;
	padding-left: 1em;
	font-family: sans-serif;
}

.description2 {
	position: absolute;
	left: 1100px;
	top: 3100px;
	width: 250px;
	transform: scale(2) rotate(-54deg)/* rotate(36deg)*/;
	text-align: left;
	border-left: 2px solid red;
	padding-left: 1em;
	font-family: sans-serif;
}

.description3 {
	position: absolute;
	left: 1400px;
	top: 5950px;
	width: 200px;
	transform: scale(2);
	border-left: 2px solid red;
	padding-left: 1em;
	text-align: left;
	font-family: sans-serif;
}


.red_shape_01 {
	position: fixed;
	width: 35px;
	height: 550px;
	left: 0px;
	top: 0px;
	background: red;
}

.red_shape_02 {
	position: fixed;
	width: 550px;
	height: 35px;
	left: 0px;
	top: 0px;
	background: red;
}

.red_shape_03 {
	position: fixed;
	width: 550px;
	height: 35px;
	bottom: 0;
	right: 0;
	background: red;
}

.red_shape_04 {
	position: fixed;
	width: 35px;
	height: 550px;
	bottom: 0;
	right: 0;
	background: red;
}

.letter_1 {
	position: relative;
/*	transform: scale(.5) rotate(-55deg);*/
}

#y-1 {
/*	position: absolute;*/
	left: 0px;
	top: 700px;
	transform: scale(.5) rotate(-55deg);
}

#v-1 {
	/*position: absolute;*/
	left: -75px;
	top: 810px;
	transform: scale(.5) rotate(-55deg);
}

#s-1 {
	/*position: absolute;*/
	left: 110px;
	top: 545px;
	transform: scale(.5) rotate(-55deg);
}

#t-1 {
	/*position: absolute;*/
	left: 195px;
	top: 435px;
	transform: scale(.5) rotate(-55deg);
}

#a-1 {
	/*position: absolute;*/
	left: 272px;
	top: 308px;
	transform: scale(.5) rotate(-55deg);
}

#v-2 {
	/*position: absolute;*/
	left: 393px;
	top: 145px;
	transform: scale(.5) rotate(-55deg);
}

#k-1 {
	/*position: absolute;*/
	left: 465px;
	top: 40px;
	transform: scale(.5) rotate(-55deg);
}

#a-3 {
	/*position: absolute;*/
	left: 540px;
	top: -80px;
	transform: scale(.5) rotate(-55deg);

}



/*
@media (max-width:500px){
head {
	transform: scale(.7);
}
*/




#m-1 {
	position: absolute;
	left: 200px;
	top: 2850px;
	transform: scale(1) rotate(-55deg);
}

#o-1 {
	position: absolute;
	left: 400px;
	top: 2550px;
	transform: scale(1) rotate(-55deg);
}

#d-1 {
	position: absolute;
	left: 620px;
	top: 2245px;
	transform: scale(1) rotate(-55deg);
}

#e-1 {
	position: absolute;
	left: 852px;
	top: 1915px;
	transform: scale(1) rotate(-55deg);
}

#r-1 {
	position: absolute;
	left: 1045px;
	top: 1635px;
	transform: scale(1) rotate(-55deg);
}

#n-1 {
	position: absolute;
	left: 1175px;
	top: 1455px;
	transform: scale(1) rotate(-55deg);
}

#o-2 {
	position: absolute;
	left: 1345px;
	top: 1180px;
	transform: scale(1) rotate(-55deg);
}

#h-1 {
	position: absolute;
	left: 1596px;
	top: 874px;
	transform: scale(1) rotate(-55deg);
}

#o-3 {
	position: absolute;
	left: 1710px;
	top: 690px;
	transform: scale(1) rotate(-55deg);

}




#m-2 {
	position: absolute;
	left: 500px;
	top: 5500px;
	transform: scale(1.5) rotate(-55deg);
}

#y-2 {
	position: absolute;
	left: 902px;
	top: 4923px;
	transform: scale(1.5) rotate(-55deg);
}

#s-2 {
	position: absolute;
	left: 1200px;
	top: 4470px;
	transform: scale(1.5) rotate(-55deg);
}

#t-2 {
	position: absolute;
	left: 1430px;
	top: 4125px;
	transform: scale(1.5) rotate(-55deg);
}

#e-2 {
	position: absolute;
	left: 1795px;
	top: 3580px;
	transform: scale(1.5) rotate(-55deg);
}

#c-1 {
	position: absolute;
	left: 2095px;
	top: 3160px;
	transform: scale(1.5) rotate(-55deg);
}

#t-3 {
	position: absolute;
	left: 2455px;
	top: 2675px;
	transform: scale(1.5) rotate(-55deg);
}

#v-3 {
	position: absolute;
	left: 2820px;
	top: 2130px;
	transform: scale(1.5) rotate(-55deg);
}

#a-2 {
	position: absolute;
	left: 2990px;
	top: 1850px;
	transform: scale(1.5) rotate(-55deg);
}












.square-1 {
	position: absolute;
	width: 760px;
	height: 190px;
	left: 53
	0px;
	top: 260px;
	background: red;
	transform: rotate(-145deg);
}








											/*#a-1 {
												position: absolute;
												left: 250px;
												transform: scale(75%) rotate(-45deg);
											}

											.letter-6 {
												position: absolute;
												left: 55px;
												top: 208px;
												transform: scale(75%) rotate(-45deg);
											}

											#b-1 {
												position: absolute;
												left: 480px;
												top: -210px;
												transform: scale(75%) rotate(-45deg);
											}
											#a-2 {
												position: absolute;
												left: -150px;
												top: 408px;
												transform: scale(75%) rotate(-45deg);
											}

											#a-3 {
												position: absolute;
												left: 579px;
												top: -321px;
												transform: scale(75%) rotate(-45deg);
											}

											#b-2 {
												position: absolute;
												left: -247px;
												top:  517px;
												transform: scale(75%) rotate(-45deg);
											}*/